<template>
  <div class="d-inline-block content-wrapper h-100" ref="content">
    <div class="d-flex flex-row h-100">
      <div class="horizontal-button-wrapper me-2">
        <div class="horizontal-button horizontal-button-left" @click="scrollLeft">
          <span class="fa-stack fa-lg x-color">
            <i class="fa-regular fa-circle fa-stack-2x"></i>
            <i class="fa-solid fa-chevron-left fa-stack-1x"></i>
          </span>
        </div>
      </div>
      <div class="row h-100 boxes">
        <div class="col-12 col-md-6 box-wrapper">
          <div class="box">
            <slot name="box1"/>
          </div>
        </div>
        <div class="col-12 col-md-6 box-wrapper">
          <div class="box">
            <slot name="box2"/>
          </div>
        </div>
      </div>
      <div class="horizontal-button-wrapper ms-2">
        <div class="horizontal-button horizontal-button-right" @click="scrollRight">
          <span class="fa-stack fa-lg x-color">
            <i class="fa-regular fa-circle fa-stack-2x"></i>
            <i class="fa-solid fa-chevron-right fa-stack-1x"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Content",
  methods: {
    scrollRight() {
      this.$emit('scrollRight');

    },
    scrollLeft() {
      this.$emit('scrollLeft');
    }
  }
}
</script>

<style scoped lang="scss">
.content-wrapper {
  white-space: normal;
  width: 100%;
}

.boxes {
  flex-grow: 1;

  .box-wrapper {
    display: flex;
    height: 100%;

    .box {
      flex-grow: 1;
      background-color: $light-gray;
      border-radius: 5px;
      padding: 2rem;
      overflow-y: auto;
      height: 100%;
      -ms-overflow-style: none;
      scrollbar-width: none;

      .box-subject {
        font-family: 'Dancing Script', cursive;
        font-size: 50px;
        text-align: center;
      }

      .box-title {
        font-family: Andale Mono, monospace;
      }

      .underlined {
        border-width: 3px;
        border-color: #fca388;
        padding-bottom: 3px;
        margin: -14px 40% 2rem;
      }

      .box-image {
        width: 100%;
        margin-bottom: 1.5rem;
      }
    }
  }
}

.horizontal-button-wrapper {
  display: flex;
  align-items: center;

  .horizontal-button {
    cursor: pointer;
  }
}
</style>
