<template>
  <div class="main" ref="main" :style="{ 'background-color': `rgba(255, 255, 255, ${backgroundOpacity})`}">
    <section class="section landing-section">
      <h1 class="landing-section-title" :style="{'color': `rgba(255, 255, 255, ${titleOpacity})`}">Texel</h1>
    </section>

    <section class="section vakantiepark">
      <div class="section-content" ref="vakantiepark">
        <Content @scrollRight="scrollContentRight('vakantiepark')" @scrollLeft="scrollContentLeft('vakantiepark')">
          <template v-slot:box1>
            <h2 class="box-subject">
              Vakantiepark
            </h2>
            <hr class="underlined">
            <h3 class="box-title x-color">
              De Sluftervallei
            </h3>
            <p>
              Tijdens deze geweldige vakantie gaan wij onze nachten doorbrengen op het heerlijke vakantiepark
              De Sluftervallei van Landal Texel. De Sluftervallei is een mooi park gelegen in het noorden van Texel.
              Ze hebben ook een hele mooie
              <a href="https://www.landal.nl/parken/sluftervallei" class="x-color">website</a>,
              die je zeker moet bezoeken.
            </p>
          </template>
          <template v-slot:box2>
            <img class="box-image x-border" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.zeezoogdieren.org%2Fwordpress%2Fwp-content%2Fuploads%2F2019%2F01%2F20190124-castricum-gewone-zeehond-foto-hielke-boomsma-1.jpg&f=1&nofb=1" alt="zeehond">
            <p>
              Hierboven zie je <i>the most bestest animal alive</i>: de zeehond. Daar heb je er op Texel gelukkig
              genoeg van, al zie je ze haast nooit :(
            </p>
          </template>
        </Content>
        <Content @scrollRight="scrollContentRight('vakantiepark')" @scrollLeft="scrollContentLeft('vakantiepark')">
          <template v-slot:box1>
            <h3 class="box-title x-color">
              Het huisje
            </h3>
            <p>
              Ons huisje voor dit weekend is het prachtige nummer 145!
            </p>
          </template>
          <template v-slot:box2>
            <p>Hier is een foto van onze woonkamer. En eentje van de keuken. En we hebben een vaatwasser :o</p>
          </template>
        </Content>
      </div>
    </section>
    <section class="section bezienswaardigheden">
      <div class="section-content" ref="bezienswaardigheden">
        <Content @scrollRight="scrollContentRight('bezienswaardigheden')" @scrollLeft="scrollContentLeft('bezienswaardigheden')">
          <template v-slot:box1>
            <h2 class="box-subject">
              Bezienswaardigheden
            </h2>
            <hr class="underlined">
            <h3 class="box-title x-color">
              Zeehond
            </h3>
            <p>
              Tijdens deze geweldige vakantie gaan wij onze nachten doorbrengen op het heerlijke vakantiepark
              De Sluftervallei van Landal Texel. De Sluftervallei is een mooi park gelegen in het noorden van Texel.
              Ze hebben ook een hele mooie
              <a href="https://www.landal.nl/parken/sluftervallei" class="x-color">website</a>,
              die je zeker moet bezoeken.
            </p>
          </template>
          <template v-slot:box2>
            <img class="box-image x-border" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.zeezoogdieren.org%2Fwordpress%2Fwp-content%2Fuploads%2F2019%2F01%2F20190124-castricum-gewone-zeehond-foto-hielke-boomsma-1.jpg&f=1&nofb=1" alt="zeehond">
            <p>
              Hierboven zie je <i>the most bestest animal alive</i>: de zeehond. Daar heb je er op Texel gelukkig
              genoeg van, al zie je ze haast nooit :(
            </p>
          </template>
        </Content>
      </div>
    </section>
    <section class="section culinair">
      <div class="section-content" ref="culinair">
        <Content @scrollRight="scrollContentRight('culinair')" @scrollLeft="scrollContentLeft('culinair')">
          <template v-slot:box1>
            <h2 class="box-subject">
              Culinair
            </h2>
            <hr class="underlined">
            <h3 class="box-title x-color">
              Boeren ijs
            </h3>
            <p>
              Tijdens deze geweldige vakantie gaan wij onze nachten doorbrengen op het heerlijke vakantiepark
              De Sluftervallei van Landal Texel. De Sluftervallei is een mooi park gelegen in het noorden van Texel.
              Ze hebben ook een hele mooie
              <a href="https://www.landal.nl/parken/sluftervallei" class="x-color">website</a>,
              die je zeker moet bezoeken.
            </p>
          </template>
          <template v-slot:box2>

          </template>
        </Content>
      </div>
    </section>
    <section class="section musea">
      <div class="section-content" ref="musea">
        <Content @scrollRight="scrollContentRight('musea')" @scrollLeft="scrollContentLeft('musea')">
          <template v-slot:box1>
            <h2 class="box-subject">
              Musea
            </h2>
            <hr class="underlined">
            <h3 class="box-title x-color">
              Ecomare
            </h3>
            <p>
              Tijdens deze geweldige vakantie gaan wij onze nachten doorbrengen op het heerlijke vakantiepark
              De Sluftervallei van Landal Texel. De Sluftervallei is een mooi park gelegen in het noorden van Texel.
              Ze hebben ook een hele mooie
              <a href="https://www.landal.nl/parken/sluftervallei" class="x-color">website</a>,
              die je zeker moet bezoeken.
            </p>
          </template>
          <template v-slot:box2>

          </template>
        </Content>
      </div>
    </section>
    <section class="section boot">
      <div class="section-content" ref="boot">
        <Content @scrollRight="scrollContentRight('boot')" @scrollLeft="scrollContentLeft('boot')">
          <template v-slot:box1>
            <h2 class="box-subject">
              De Boot
            </h2>
            <hr class="underlined">
            <h3 class="box-title x-color">
              TESO
            </h3>
            <p>
              Tijdens deze geweldige vakantie gaan wij onze nachten doorbrengen op het heerlijke vakantiepark
              De Sluftervallei van Landal Texel. De Sluftervallei is een mooi park gelegen in het noorden van Texel.
              Ze hebben ook een hele mooie
              <a href="https://www.landal.nl/parken/sluftervallei" class="x-color">website</a>,
              die je zeker moet bezoeken.
            </p>
          </template>
          <template v-slot:box2>

          </template>
        </Content>
      </div>
    </section>
    <section class="section overig">
      <div class="section-content" ref="overig">
        <Content @scrollRight="scrollContentRight('overig')" @scrollLeft="scrollContentLeft('overig')">
          <template v-slot:box1>
            <h2 class="box-subject">
              Overig
            </h2>
            <hr class="underlined">
            <h3 class="box-title x-color">
              Iets anders
            </h3>
            <p>
              Tijdens deze geweldige vakantie gaan wij onze nachten doorbrengen op het heerlijke vakantiepark
              De Sluftervallei van Landal Texel. De Sluftervallei is een mooi park gelegen in het noorden van Texel.
              Ze hebben ook een hele mooie
              <a href="https://www.landal.nl/parken/sluftervallei" class="x-color">website</a>,
              die je zeker moet bezoeken.
            </p>
          </template>
          <template v-slot:box2>

          </template>
        </Content>
      </div>
    </section>
  </div>
</template>

<script>
import aosMixin from '@/mixins/aos';

export default {
  name: 'IndexPage',
  mixins: [aosMixin],
  data() {
    return {
      backgroundOpacity: 0,
      titleOpacity: 0
    }
  },
  methods: {
    onScroll() {
      this.backgroundOpacity = Math.min(this.$refs.main.scrollTop / window.innerHeight / 2, 0.5);
      this.titleOpacity = this.$refs.main.scrollTop * 6 / window.innerHeight;
    },
    scrollContentRight(section) {
      this.$refs[section].scrollBy(window.innerWidth, 0);
    },
    scrollContentLeft(section) {
      this.$refs[section].scrollBy(-window.innerWidth, 0);
    }
  },
  mounted() {
    this.$refs.main.addEventListener('scroll', this.onScroll);
    this.onScroll();
  },
  beforeDestroy() {
    this.$refs.main.removeEventListener('scroll', this.onScroll);
  }
}
</script>

<style lang="scss">
body {
  background: url('@/assets/images/IMG_3391.JPG') no-repeat center center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.main {
  max-height: 100vh;
  overflow-y: auto;
}

.section {
  height: 100vh;
  padding: 4rem 2rem;

  .section-content {
    overflow-y: hidden;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }

    & > :first-child .horizontal-button-left {
      visibility: hidden;
    }

    & > :last-child .horizontal-button-right {
      visibility: hidden;
    }
  }
}

.landing-section {
  height: 140vh !important;
  display: flex;
  justify-content: center;
  align-items: center;

  .landing-section-title {
    font-family: 'Norican', cursive;
    font-size: 128px;
  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

// ======================
// === All box colors ===
// ======================

.vakantiepark {
  .x-color {
    color: #6FBB1F;
  }

  .x-border {
    box-shadow: 0 0 6px 2px #6FBB1F;
  }
}

.bezienswaardigheden {
  .x-color {
    color: #fc902a;
  }

  .x-border {
    box-shadow: 0 0 6px 2px #fc902a;
  }
}

.culinair {
  .x-color {
    color: #cb060b;
  }

  .x-border {
    box-shadow: 0 0 6px 2px #cb060b;
  }
}

.musea {
  .x-color {
    color: rgb(0,127,200);
  }

  .x-border {
    box-shadow: 0 0 6px 2px rgb(0,127,200);
  }
}

.boot {
  .x-color {
    color: gold;
  }

  .x-border {
    box-shadow: 0 0 6px 2px gold;
  }
}

.overig {
  .x-color {
    color: #f95eb9;
  }

  .x-border {
    box-shadow: 0 0 6px 2px #f95eb9;
  }
}
</style>
